.bikerz-zone-light-red {
  background-color: red;
}

.Rating-icon {
  width: 20px;
}

.hero-main {
  display: flex;
  gap: 15px;
}
.hero {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-left: 0;
  flex-direction: row;
}

/* mobile device */

@media screen and (max-width: 576px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
